// vendors
// @use "./vendors/" as *;

// variables
@use "./variables/" as *;

// components
@use "./components/" as *;

// pages
@use "./pages/" as *;

// abstracts
@use "./abstracts/" as *;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $poppins;
}

@media (min-width: 2560px) {
  html {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
