<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  {{>links}}
</head>
<body>
  {{>navbar}}
  <div class="container">
    <form action="/contact" method="post" class="form">
      <div class="grid grid-2">
        <div class="input-field grid-item-1">
          <input type="text" class="form-input" placeholder="First Name:">
        </div>
        <div class="input-field grid-item-2">
          <input type="text" class="form-input" placeholder="Last Name (optional):">
        </div>
        <div class="input-field grid-item-3">
          <input type="text" class="form-input" placeholder="Mobile (optional):">
        </div>
        <div class="input-field grid-item-4">
          <input type="text" class="form-input" placeholder="Email:">
        </div>
        <div class="input-field textarea-field grid-item-5">
          <textarea name="message" id="message" rows="10" class="form-input" placeholder="Message:"></textarea>
        </div>
      </div>
      <button type="submit" class="submit">Send</button>
    </form>
  </div>
</body>
</html>