<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Courses</title>
  {{>links}}
</head>
<body>
  {{>navbar}}
  <div class="search-area">
    <input type="text" class="searchbar" id="search-course" placeholder="Search for courses . . ."> <div class="search-icon" id="search-course-btn"><i class="fas fa-search"></i></div>
  </div>
  <div class="course-container">
    
  </div>
  {{>footer}}
</body>
</html>