<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {{>links}}
  </head>
  <body>
    {{>navbar}}
    <div class="hero-section">
      <div class="hero-text">
        <h1 class="hero-header">Let's Learn Together</h1>
        <p class="hero-desc">
          CodeIt is a platform where we share our knowledge and experience of programming, coding, and other technical stuffs to help the world understand it easily.
        </p>
        <a href="#" class="btn btn-dark"><i class="far fa-play-circle fa-lg"></i> Start Learning</a>
      </div>
      <div class="hero-img">
        <img src="./img/web_development.svg" alt="Web Development">
      </div>
    </div>
    <section id="courses">
      <h1 class="section-title">Recommended courses</h1>
      <div class="course-container">
        <div class="card">
          <div class="card-img">
            <img src="" alt="">
          </div>
          <div class="card-body">
            <h2 class="card-title">Card Title</h2>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit a blanditiis iste quisquam alias repellendus cumque dolorum omnis officia ipsum.
            </p>
            <a href="#" class="card-link btn btn-dark">Go To Course</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>