@use "./../variables/" as *;
@use "./../mixins/" as *;

.navbar {
  background: $light;
}

.hero-section {
  position: relative;
  height: 80vh;
  width: 100%;
  background: $light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  overflow: visible;
  z-index: 2;
  .hero-text {
    width: 50%;
    align-self: center;
    .hero-header {
      font-family: $montserrat;
      font-weight: 800;
      font-size: 3rem;
      @include map-get-val(color, $dark, 2);
      margin-bottom: 30px;
    }
    .hero-desc {
      margin-bottom: 30px;
    }
  }
  .hero-img {
    width: 50%;
    align-self: center;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .hero-section {
    padding: 20%;
    align-items: center;
    flex-wrap: wrap-reverse;
    .hero-text,
    .hero-img {
      width: 100%;
      text-align: center;
      img {
        height: 100%;
      }
    }
  }
}

@media (max-width: 427px) {
  .hero-section {
    .hero-img {
      display: none;
    }
  }
}

section {
  min-height: 60vh;
  padding: 50px 0;
  .section-title {
    text-align: center;
    // font-family: $montserrat;
    font-weight: 500;
    font-size: 2rem;
  }
}

#course {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 20rem;
    width: 20rem;
    background: $orange;
    border-radius: 50%;
    transform: translate(50%, -50%);
    pointer-events: none;
    z-index: -1;
  }
  .course-container {
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .card {
      margin-bottom: 30px;
    }
  }
  .wrapper {
    margin-top: 50px;
  }
}
