@use "./../variables/" as *;
@use "./../mixins/" as *;

.btn {
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 0.5em 1em;
  display: inline-block;
  border-radius: 2em;
  transition: background 150ms ease-in-out, color 150ms ease-in-out;
}

.btn-dark {
  @include btn(map-get($map: $dark, $key: 1), $light);
}
