@use "../variables/" as *;
@use "../mixins/" as *;
.navbar {
  position: relative;
  width: 100%;
  padding: 1em 0;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-areas: ". logo list .";
  .logo {
    grid-area: logo;
    font-size: 3rem;
    a {
      position: relative;
      font-family: $bebas;
      text-decoration: none;
      color: map-get($map: $dark, $key: 0);
    }
  }
  .nav-list {
    grid-area: list;
    list-style: none;
    &.larger-device {
      justify-self: end;
      display: flex;
      align-self: center;
      .nav-item {
        margin: 0 1em;
        .nav-link {
          position: relative;
          color: map-get($map: $dark, $key: 3);
          font-weight: 300;
          text-decoration: none;
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: -5%;
            width: 0%;
            height: 1px;
            background: map-get($map: $dark, $key: 2);
            transition: width 250ms ease-in;
          }
          &:hover {
            color: map-get($map: $dark, $key: 1);
            &::after {
              width: 110%;
            }
          }
        }
      }
    }
    &.sidebar {
      position: fixed;
      top: 0;
      right: -100%;
      width: 40%;
      height: 100vh;
      background: map-get($map: $dark, $key: 1);
      z-index: 100;
      .nav-link {
        display: inline-block;
        color: map-get($map: $white, $key: 1);
        width: 100%;
        padding: 1em;
        text-decoration: none;
      }
      transition: right 250ms ease-out;
      &.active {
        right: 0;
      }
    }
  }
  .hamburger_menu {
    width: 2rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;
    grid-area: menuicon;
    cursor: pointer;
    .bar {
      width: 100%;
      height: 2px;
      background: map-get($map: $dark, $key: 1);
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .nav-list {
      &.larger-device {
        display: none;
      }
    }
    grid-template-areas: ". logo menuicon .";
    .hamburger_menu {
      display: flex;
      justify-self: end;
      align-self: center;
    }
  }
}

@media (max-width: 426px) {
  .navbar {
    .nav-list {
      &.sidebar {
        width: 60%;
      }
    }
  }
}
